{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static './leaflet/leaflet.css' %}" />
<style>
  .leaflet-cluster-anim .leaflet-marker-icon,
  .leaflet-cluster-anim .leaflet-marker-shadow {
    -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
    -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
    -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
    transition: transform 0.3s ease-out, opacity 0.3s ease-in;
  }

  .leaflet-cluster-spider-leg {
    /* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
    -webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
    -moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
    -o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
    transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
  }

  .marker-cluster-small {
    background-color: rgba(181, 226, 140, 0.6);
  }

  .marker-cluster-small div {
    background-color: rgba(110, 204, 57, 0.6);
  }

  .marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6);
  }

  .marker-cluster-medium div {
    background-color: rgba(240, 194, 12, 0.6);
  }

  .marker-cluster-large {
    background-color: rgba(253, 156, 115, 0.6);
  }

  .marker-cluster-large div {
    background-color: rgba(241, 128, 23, 0.6);
  }

  /* IE 6-8 fallback colors */
  .leaflet-oldie .marker-cluster-small {
    background-color: rgb(181, 226, 140);
  }

  .leaflet-oldie .marker-cluster-small div {
    background-color: rgb(110, 204, 57);
  }

  .leaflet-oldie .marker-cluster-medium {
    background-color: rgb(241, 211, 87);
  }

  .leaflet-oldie .marker-cluster-medium div {
    background-color: rgb(240, 194, 12);
  }

  .leaflet-oldie .marker-cluster-large {
    background-color: rgb(253, 156, 115);
  }

  .leaflet-oldie .marker-cluster-large div {
    background-color: rgb(241, 128, 23);
  }

  .marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
  }

  .marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;

    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
  }

  .marker-cluster span {
    line-height: 30px;
  }

  #panel {
    position: absolute;
    width: 130px;
    background-color: white;
    top: 70px;
    right: 10px;
    z-index: 999;
    padding: 2em;
    opacity: 0.7;
    font-size: 80%;
    overflow-y: scroll;
  }


  
.leaflet-control-layers-group-name {
  font-weight: bold;
  margin-bottom: .2em;
  margin-left: 3px;
}

.leaflet-control-layers-group {
  margin-bottom: .5em;
}

.leaflet-control-layers-scrollbar {
  overflow-y: scroll;
  padding-right: 10px;
}
</style>
{% endblock %}

{% block afterbody %}
<div class="flex flex-col h-screen">
  {% endblock %}

  {% block content %}

  {% include "template-parts/mapa.html" %}

  <div id="panel">
    <div id="panelRefesh">
      <p class="select-row">Opacidad:</p>
      <select id="mapopacity-select">
        <option value="0.2">0.2</option>
        <option value="0.5">0.5</option>
        <option value="0.8">0.8</option>
        <option value="1" selected>1</option>
      </select>

      <p class="select-row">Marca:</p>
      <select id="elms-shape-select">
        <option value="circulo" selected>circulo</option>
        <option value="marca">globo</option>
      </select>

      <p class="select-row">Cobertura:</p>
      <select id="showCoverageOnHover-select">
        <option value="true" selected>true</option>
        <option value="false">false</option>
      </select>

      <p class="select-row">Radio Max:</p>
      <select id="maxClusterRadius-select">
        <option value="1">1</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
        <option value="50">50</option>
        <option value="60">60</option>
        <option value="70">70</option>
        <option value="80" selected>80</option>
        <option value="100">100</option>
        <option value="140">140</option>
        <option value="180">180</option>
      </select>
    </div>
    
    {% comment %} <div id="parent_cb" class="parent mt-3">
      <input type="checkbox" class="h-5 w-5 accent-black" id="parent" name="parent" value="parent">
      <label for="parent"> PRECIOS </label><br>
    </div>
    <div id="cbs" class="text-sm">
      <input type="checkbox" class="ml-2 h-5 w-5 accent-precio300" id="p300" name="p300" value="300">
      <label for="p300"> ...300 </label><br>
      <input type="checkbox" class="ml-2 h-5 w-5 accent-precio350" id="p350" name="p350" value="350">
      <label for="p350"> &zwnj; &zwnj; 350 </label><br>
      <input type="checkbox" class="ml-2 h-5 w-5 accent-precio400" id="p400" name="p400" value="400">
      <label for="p400"> &zwnj; &zwnj; 400 </label><br>
      <input type="checkbox" class="ml-2 h-5 w-5 accent-precio450" id="p450" name="p450" value="450">
      <label for="p450"> &zwnj; &zwnj; 450 </label><br>
      <input type="checkbox" class="ml-2 h-5 w-5 accent-precio500" id="p500" name="p500" value="500">
      <label for="p500"> &zwnj; &zwnj; 500 </label><br>
      <input type="checkbox" class="ml-2 h-5 w-5 accent-precio600" id="p600" name="p600" value="600">
      <label for="p600"> &zwnj; &zwnj; 600 </label><br>
      <input type="checkbox" class="ml-2 h-5 w-5 accent-precio700" id="p700" name="p700" value="700">
      <label for="p700"> &zwnj; &zwnj; 700 </label><br>
      <input type="checkbox" class="ml-2 h-5 w-5 accent-precio800" id="p800" name="p800" value="800">
      <label for="p800"> &zwnj; &zwnj; 800 </label><br>
      <input type="checkbox" class="ml-2 h-5 w-5 accent-precio900" id="p900" name="p900" value="900">
      <label for="p900"> &zwnj; &zwnj; 900 </label><br>
      <input type="checkbox" class="ml-2 h-5 w-5 accent-precio1000" id="p1000" name="p1000" value="1000">
      <label for="p1000"> &zwnj; 1000... </label><br>
    </div> {% endcomment %}


  </div>



  <script type="text/javascript">
    var auth = "{{request.user.is_authenticated}}";
    var static_url = "{% get_static_prefix %}";
    // var media_url = "{% get_media_prefix %}";
  </script>


  <script src="{% static './js/mapa-admin.js' %}"></script>


  {% endblock  %}