/* body {
    background-color: black;
} */

.field-status select, 
.field-service select
{
    width: 70px;
}

.field-lat, 
.field-lon
{
    max-width: 60px!important;
}

th.column-cost {
    width: 30px!important;
}

